/* ======== CONTACT SECTION ======== */
#contact {
}

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin: 0 auto;
  align-items: flex-start;
}

/* ======== CONTACT OPTIONS ======== */
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.contact__option h5 {
  color: var(--color-light);
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.contact__option a:hover {
  color: var(--color-white);
}

/* ======== HEADINGS ======== */
#contact h5 {
  color: var(--color-light);
  font-size: 0.95rem;
}

#contact h2 {
  color: var(--color-white);
  margin-bottom: 1rem;
  transition: var(--transition);
}

#contact h2:hover {
  color: var(--color-primary);
}

/* ======== FORM ======== */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-light);
  font-size: 1rem;
  transition: var(--transition);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-light);
  opacity: 0.8;
}

input:focus,
textarea:focus {
  color: var(--color-white);
  transform: translateX(6px);
  border-color: var(--color-primary);
  outline: none;
}

/* ======== TABLET DEVICES ======== */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    width: 80%;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact__options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .contact__option {
    flex: 1 1 45%;
    min-width: 220px;
  }
}

/* ======== MOBILE DEVICES ======== */
@media screen and (max-width: 600px) {
  #contact {
    position: relative;
  }
  .container.contact__container {
    width: 95%;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 1rem;
  }

  .contact__options {
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 1.2rem;
  }

  form {
    gap: 1.3rem;
  }

  input,
  textarea {
    font-size: 0.95rem;
    padding: 1rem;
  }

  button.btn {
    margin-top: 1rem;
    width: 100%;
  }
}

/* iPhone and Very Small Devices */
@media screen and (max-width: 380px) {
  .container.contact__container {
    padding: 1rem;
    gap: 2rem;
  }
  .contact__options {
    gap: 1.2rem;
  }
  .contact__option {
    padding: 1rem;
  }
  form {
    gap: 1rem;
  }
}
